body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
  width: 600px;
}

th,
td {
  border: 1px black solid;
  padding: 5px;
  text-align: left;
}

#amount {
  text-align: right;
}
